/* 
* Navigation CSS styles for HolyGrail Layout with Flexbox in B.E.M notation
*/

.nav {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  text-align: center;
  flex-flow: column wrap;
}
@media (min-width: 768px) {
  .nav {
    flex-flow: row;
  }
}

.nav__link {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: block;
}
.nav__link:hover {
  font-weight: bold;
}
.nav__link--active {
  border-bottom: 1px solid #ccc;
}